@import url('https://fonts.google.com/specimen/Poppins');
body{
  inline-size: 100%;
}
.header{
  background-image: linear-gradient(rgb(0 0 0 / 83%), rgb(142 0 0 / 55%)), url(../images/Rectangle-1.png);
  background-size: cover;
  color: white;
  padding: 24%;
  block-size: 200px;
}
.img{
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  margin-block-start: 20px;
}
.top{
  inset-block-start: 20px;
  position: absolute;
  inset-inline-end: 18%;
}

#sign{
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  margin-inline-end: 20px;
  display: flex;
  background-color: #FF0000;
  border-radius: 10px;
  color: #ffffff;
  border: none;
  margin-block-start: 20px;
  cursor: pointer;
}
.email{
  text-align: center;
  margin-block-start: 20px;
}
h1{

  inline-size: max-content;
  font-size: 32px;
}
.h4{
  margin-inline-start: 20%;
}
h4{
  font-weight: 400;
  color: #ffffffa6;
  inline-size: max-content;
}
input{
  background-color:rgba(0, 0, 0, 0.67);
  color:#8D8D8D;
  border: none;
  padding: 5px 30% 5px 10px;
  border-radius: 10px;
}
.sign{
  background-color:#FF0000;
  color:#ffffff;
  border: none;
  padding: 10px 15px 7px 13px;
  border-radius: 10px;
  cursor: pointer;
  height: 12%;
}
.p{
  display: flex;
}
.p p{
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 0px 5px 5px 20px;
}
.p i{
  font-size: 12px;
  margin-block-start: 5px;
  margin-inline-end: 5px;
  padding-inline-end:15px ;
}
.enjoy{
  background: linear-gradient(181deg, black, #161616c9); 
  padding: 50px 0px 50px 0px;

}
.enjoy:nth-child(3){
  background: linear-gradient(181deg, #161616c9, black);
}
.enjoy img{
  margin: 20px 0px 20px 0px;
  inline-size: 80%;
}
.para p{
  color: rgba(255, 255, 255, 0.797);
}
.para h1{
  color: white;
}
.para{
  align-self: center;
}
.para:nth-child(2){
  margin-inline-start: 20px;
}
.footer{
  padding-block-start: 20px;
  padding-block-end: 50px;
  background: linear-gradient(181deg,  #161616c9, black);
}
.mail{
  color: white;
  font-weight: 500;
}
li{
  color: white;
  list-style: none;
}
ul{
  list-style: none;
  margin-block-start: 40px;
}
.country{
  margin-inline-start: 30px;
}
select{
  margin-inline-start: 10px;
  border-radius: 10px;
  padding: 0px 10px 5px 10px;
  cursor: pointer;
}
.fa-globe{
  margin-inline-start: 65%;
  font-size: 18px;
  margin-block-start: 5px;
}
.text{
  display: flex;
  margin-block-start: 5px;
  margin-inline-start: 75%;
}
.last{
  text-align: start;
}
.last input{
  background-color:rgba(0, 0, 0, 0.30);
}
span{
  color: #FF0000;
  font-size: 17px;
  padding-inline-end: 5px;
}

a{
  color: #ffffff;
  text-decoration: none;
}

a:hover{
  color:black;
}